{% extends "login_header.html" %}
{% load static %}

{% block content %}

<!-- Logged out content -->

<h1 class="text-center text-danger border border-2
            rounded border-white w-50 mx-auto">YOU ARE LOGGED OUT</h1>

<div class="row">
    <div class="justify-content-center d-flex mx-auto">
        <div class="justify-content border border-2 rounded border-danger m-1">
            <p class="text-white">
                Continue browsing.<br>
                Here are some suggestions:
                <br><br>
                <a class="btn btn-danger"
                href="{% url "store:store_page" %}">
                    Check out our store here
                </a>
                <br><br>
                <a class="btn btn-danger" 
                href="{% url "disc_forum:forum_page" %}">
                    Comment in our forums here
                </a>
                <br><br>
            </p>
        </div>
    </div>
</div>

{% endblock %}

